<html>
  <head>
  	<title>Cadastra Regra</title>
  	<link rel="stylesheet" type="text/css" href="/templates/estilo.css">
  </head>
  <body>
  	<h1>Cadastrar Regra</h1>
  	<div class="container">
    <form id="form" action="/adicionar" method="post">
      <p>Adicionar Regra</p><br>
      <input type="text" name="nome"/>
	  <br>
	  <select name="tipo" onchange="change(this)">
		<option value="dst" >DST IP</option>
		<option value="src">SRC IP</option>
		<option value="dstdomain">DOMINIO</option>
		<option value="time">TEMPO</option>
		<option value="url_regex -i">PALAVRA</option>
		<option value="aninhado">Aninhado</option>
	  </select>
	  <div id="arquivos">
		<input type="radio" name="arquivo" value="false" onclick="metodoCond(&quot;linha&quot;)" checked>Linha
		<br>
		<input type="radio" name="arquivo" value="true" onclick="metodoCond(&quot;arquivo&quot;)" >Arquivo
		<br>
	 </div>
	  <br id="incond">

	  <input id="inputcond" type="text" name="cond"/>
	  <textarea name="condarquivo" hidden></textarea>
	  <br>
	  <input type="radio" name="perm" value="allow" checked>Permitir
	  <br>
	  <input type="radio" name="perm" value="deny">Negar
	  <br>
      <input id="submit" type="submit" name="form" value="Adicionar"/>
    </form>
</div>
    <h3 class="retorno"><a href="/">Home</a></h3>
	<script>
		function metodoCond(tipo){
			let linha = document.getElementsByName("cond");
			let area = document.getElementsByName("condarquivo");
			if(tipo == "arquivo"){
				linha[0].setAttribute("hidden",true);
				area[0].removeAttribute("hidden");
			}else{
				area[0].setAttribute("hidden",true);
				linha[0].removeAttribute("hidden");	
			}
		}
		function change(tipo){
			let removeinput = document.getElementById("inputcond");
			removeinput.remove();
			let input = document.createElement("input");
			let arquivos = document.getElementById("arquivos");

			let time2 = document.getElementById("time2");
			let time3 = document.getElementById("time3");

			if(time2){
				time2.remove();
			}
			if(time3){
				time3.remove();
			}


			if(tipo.value=="time"){
				input.type = "time";
				arquivos.setAttribute("hidden",true);
			}
			else{
				arquivos.removeAttribute("hidden");
				input.type="text";
			}
			input.id = "inputcond";
			input.name="cond";
			let elementoadd = document.getElementById("incond");
			elementoadd.after(input);

			
			if(tipo.value=="time"){
				let input2 = document.createElement("input");
				input2.id = "time2";
				input2.type = "time";
				input2.name = "cond2";
				elementoadd.after(input2);
			}
			if(tipo.value=="aninhado"){
				let input2 = document.createElement("input");
				input2.type = "time";
				input2.name = "cond2";
				input2.id = "time2";
				elementoadd.after(input2);
				
				let input3 = document.createElement("input");
				input3.type = "time";
				input3.name = "cond3";
				input3.id = "time3"
				elementoadd.after(input3);
			}
		}

	</script>
  </body>
</html>